/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

body {
	width: 876px;
	margin: 0 auto;
}

nav {
	display: inline-block;
	width: 100%;
	margin: 30px 0;
}

nav a {
	text-decoration: none;
	margin-right: 60px;
	color: lightgray;
	height: 36px;
	vertical-align: text-top;
}

nav a > img {
	vertical-align: middle;
}

.jumbotron {
	margin: 40px 0;
}

.jumbotron > img {
	width: 46%;
	display: inline-block;
	margin-left: 4%;
}

.cta {
	display: inline-block;
	width: 49%;
	text-align: center;
	vertical-align: top;
	margin-top: 45px;
}

.cta h2 {
	font-size: 80px;
	margin-bottom: 0;
}

.cta button {
	margin-top: 20px;
	border: 1px solid black;
	background-color: white;
	padding: 0 40px;
	font-family: inherit;
	font-size: 18px;
}

header {
	border-bottom: 1px solid black;
}

.double-text-section > * {
	width: 48%;
}

.double-text-section > *:nth-child(1) {
	margin-right: 2%;
}

.text-section {
	display: inline-block;
	margin: 30px 0;
}

h3 {
	font-size: 18px;
}

.middle-img {
	margin: 20px 0;
}

.triple-text-section {
	border-bottom: 1px solid black;
}

.triple-text-section .text-section {
	margin-bottom: 50px;
}

.triple-text-section > * {
	width: 31%;
}

.triple-text-section > *:nth-child(1), .triple-text-section > *:nth-child(2) {
	margin-right: 3%;
}

.contact {
	margin: 30px 0;
}

.contact a {
	text-decoration: none;
	color: black;
}

footer {
	height: 150px;
	margin-top: 30px;
	padding: 30px 0;
}

footer p {
	text-align: center;
}